<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">WHAT I DO</h2>
                    <h3 class="section-subheading text-muted">기초부터 차근히 경험을 쌓고 있습니다</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Basic Contribution</h4>
                    <ul class="text-muted list-unstyled">
                        <li>README 파일의 오탈자 및 표현 오류 수정</li>
                        <li>특정 기능의 추가 혹은 삭제</li> 
                        <li>문서 내 링크 보완</li> 
                    </ul>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-language fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Translation & Localization Review</h4>
                    <ui class="text-muted list-unstyled">
                        <li>영어 문서/UI를 한국어로 번역한 경험</li>
                        <li>번역 과정에서 의미가 어색한 표현 식별</li>
                        <li>기술 문서 문맥을 고려한 표현 수정</li>
                    </ui>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Fundamentals & Tool Exposure</h4>
                    <ui class="text-muted list-unstyled">
                        <li>ISTQB CTFL 4.0</li>
                        <li>C/Java/Python/JS 등 프로그래밍 언어에 대한 기초적 경험</li>
                        <li>IntelliJ, VScode, Eclipse 등 사용 경험</li>
                        <li>Linux(CentOS, Ubuntu) 사용 경험</li>
                    </ui>
                </div>
            </div>
        </div>
    </section>
